/*
    Based from: http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)

    with personal changes
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, select, textarea, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    outline: none;

    &::-moz-focus-inner {
      border: 0;
    }
}
input {
    &::-ms-clear,
    &::-ms-reveal {
        display: none;
    }
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body {
    height: 100%;
    overflow-x: hidden;
    line-height: 1.2;
    font-size: 10px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
form {
    width: 100%;
}
a {
    text-decoration: none;
}
