@import '../../styles/helpers-placeholders';
@import '../../styles/reset';
@import '../../styles/fonts';
@import '../../styles/colors';

.screen-apod {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  min-width: 100%;
  min-height: 100%;

  font-family: $FONT_DEFAULT;
  color: $COLOR_TEXT;

  background-color: $COLOR_BACKGROUND;

  &__apod {
    flex-grow: 1;
  }

  &__erro {
    @extend %center-content;
    font-size: 1.8rem;
    flex-grow: 1;
  }
}
