@import '../../styles/helpers-placeholders';
@import '../../styles/colors';

.component-header {
  @extend %center-content;

  width: 100%;
  height: 74px;

  font-size: 2rem;
  color: $COLOR_TEXT_LIGHT;

  background-color: $COLOR_BACKGROUND_DARK;
}
